.listRegion {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.listItem {

  display: flex;
  
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px 9px;
  cursor: pointer;
  height: 100px;
  width: 600px;
  border: 1px solid black;
  border-radius: 5px;
}

.listItem .dragHandle {
  color: white;
}

.listItem .deleteButton {
  color: white;
}

.listItem:hover .dragHandle {
  color: #4e4e4e;
}

.listItem:hover .deleteButton {
  color: #4e4e4e;
}

.activityTime {
  font-size: 15px;
  font-weight: medium;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
  margin-right: 10px;
}