/* components/Header.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
}

.logoContainer {
  font-size: 24px;
}

.authButtonsContainer {
  display: flex;
}

.authButtonsContainer > button {
  margin-left: 10px;
}

.logo {
  font-weight: 700;
  color: #000;
  font-size: 35px;
}