@import "common.module.scss";

.container {
  @extend .box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: fit-content;
  padding: 40px;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.searchRadiusSliderContainer {
  padding-top: 15px;
}

.accommodationsSelectContainer {
  padding-top: 15px;
}

.createButtonContainer {
  padding-top: 25px;
}