@use "constants";

.buttonPrimary {
  background-color: constants.$lighterBlue;
  color: constants.$buttonTextWhite;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;

  &:hover {
    background-color: darken(constants.$lighterBlue, 10%);
    transform: translate(2px, 2px);
  }

  &:disabled {
    background-color: #bdbdbd;
  }

  &:disabled:hover {
    transform: none;
  }
}

.box {
  background-color: constants.$peachyTan;
  border-radius: 10px;
  margin: 0px;
  scrollbar-color: constants.$orangeyTan constants.$lightPeachyTan;
  scrollbar-width: thin;

  @media screen and (prefers-color-scheme: dark) {
    background-color: lighten(constants.$darkBlue, 10%);
    scrollbar-color: constants.$lighterBlue constants.$darkBlue;
  }
}

.fieldLabelBase {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.textBoxBase {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  height: 40px;
  padding: 0px 9px;
  font-size: 1.1em;
}

.selectFieldBase {
  @extend .textBoxBase;
  width: fit-content;
}

.listItemBase {
  border-radius: 5px;
  background-color: constants.$lightPeachyTan;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (prefers-color-scheme: dark) {
    background-color: lighten(constants.$darkBlue, 20%);
  }
}