@use "breakpoints";
@import "common.module.scss";

.itineraryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.titleContainer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  & p {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
  }
}

.columnContainer {
  padding: 20px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.column {
  padding: 0px 15px;
}

.tripSummaryContainer {
  padding: 20px 15px;
}

.routeOptionsContainer {
  padding: 20px 15px;
}

.saveButtonContainer {
  padding-top: 25px;

  @media screen and (max-width: breakpoints.$phone-max) {
    display: flex;
    justify-content: center;
  }
}

.saveButton {
  @extend .buttonPrimary;

  @media screen and (max-width: breakpoints.$phone-max) {
    width: 85%;
    font-size: 1.5em;
  }
}