@use "breakpoints";
@import "common.module.scss";



.itineraryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.titleContainer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  & p {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
  }
}

.columnContainer {
  padding: 20px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  // * {
  //   border: 1px solid red;
  // }
}

.titleContainer, .addCustomButtonContainer, .mapContainer, .selectedActivitiesContainer, .SuggestedActivitiesContainer, .updateSearchContainer, .saveButtonContainer {
  width: 100%;
}

.tripSummaryContainer {
  padding: 20px 15px;
}

.mapContainer {
  display: flex;
  justify-content: center;
}

.routeOptionsContainer {
  // padding: 20px 15px;
}

.saveButtonContainer {
  padding-top: 25px;

  @media screen and (max-width: breakpoints.$phone-max) {
    display: flex;
    justify-content: center;
  }
}

.saveButton {
  @extend .buttonPrimary;

  @media screen and (max-width: breakpoints.$phone-max) {
    width: 85%;
    font-size: 1.5em;
  }
}

.addCustomButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0.5rem;

  & .addCustomButton {
    cursor: pointer;
  }
}

.updateSearchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0.5rem;

  & .updateSearchButton {
    cursor: pointer;
  }
}