@use "constants";
@import url("https://fonts.googleapis.com/css?family=Maven Pro");

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: constants.$orangeyTan;

  @media screen and (prefers-color-scheme: dark) {
    background-color: lighten(constants.$darkBlue, 5%);
    color: constants.$lightPeachyTan;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
