@use "constants";
@use "breakpoints";

$menuWidthTablet: 150px;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  background-color: constants.$darkBlue;
  height: constants.$headerHeight;

  @media (max-width: breakpoints.$phone-max) {
    padding: 10px 15px;
  }
}

.hamburgerMenu {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px;
  
  @media (max-width: breakpoints.$tablet-max) {
    display: flex;
  }
}

.hamburgerMenuActive {
  @extend .hamburgerMenu;
  background-color: lighten(constants.$darkBlue, 20%);
}

.dropDownMenu {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background-color: constants.$peachyTan;
  position: absolute;
  top: constants.$headerHeight;
  right: 0px;
  color: constants.$darkBlue;
  font-weight: 700;
  font-size: 20px;
  text-align: center;

  & .dropDownMenuButton {
    cursor: pointer;
    padding: 8px 20px;
    width: 100%;
    height: 100%;
  }

  & .dropDownMenuButton:hover {
    background-color: darken(constants.$orangeyTan, 10%);
  }

  @media (max-width: breakpoints.$tablet-max) {
    width: $menuWidthTablet;
  }

  @media (max-width: breakpoints.$phone-max) {
    width: 100%;
  }

  @media screen and (prefers-color-scheme: dark) {
    background-color: lighten(constants.$darkBlue, 20%);
    color: constants.$lightPeachyTan;
  }
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media (max-width: breakpoints.$tablet-max) {
    display: none;
  }

  & .avatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background-color: rgb(68, 53, 130);
  }
}