@use "constants";
@use "breakpoints";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  background-color: constants.$darkBlue;
  height: 100 px;

  @media (max-width: breakpoints.$phone-max) {
    padding: 10px 15px;
  }
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.authButtonsContainer > button {
  margin-left: 10px;
}