@use "constants";
@use "breakpoints";
@import "common.module.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .pageHead {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    & .sortBy {
      @extend .selectFieldBase;
      margin-left: 10px;
      background-color: constants.$peachyTan;
      border: none;
  
      @media screen and (prefers-color-scheme: dark) {
        background-color: lighten(constants.$darkBlue, 20%);
        color: constants.$lightPeachyTan;
      }
    }
  
    @media screen and (max-width: breakpoints.$phone-max) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
    }
  }
  
  & .listContainer {
    @extend .box;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 2rem 0;
    max-height: 80vh;
    overflow-y: scroll;

    @media screen and (max-width: breakpoints.$phone-max) {
      max-height: 55vh;
    }

    & .listItem {
      @extend .listItemBase;
      width: 90%;
      height: 6rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1.4rem;
      padding: 0 2rem;
      cursor: pointer;

      & .itineraryName {
        font-size: 1.5rem;
        font-weight: 600;
      }

      @media screen and (max-width: breakpoints.$phone-max) {
        height: 6rem;
        padding: 1rem 2rem;
        font-size: 0.8rem;

        & .itineraryName {
          font-size: 1.25rem;
        }
      }
    }
  }

  & .loadingContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    & .spinner {
      width: 120px;
      height: 120px;
      color: constants.$darkBlue;

      @media screen and (prefers-color-scheme: dark) {
        color: constants.$peachyTan;
      }
    }
  }

  & .noItinerariesContainer {
    @extend .box;
    padding: 3rem;
    padding-top: 0;
    margin-top: 100px;
    max-width: 90%;

    & .noItinerariesText {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 50px;
      text-align: center;
    }

    & .newItineraryButton {
      @extend .buttonPrimary;
      margin-top: 20px;
    }
  }
}