@import "common.module.scss";

.newItineraryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;

  & .newItineraryHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  & .newItineraryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .newItineraryFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.1rem 0rem;

    & .createItineraryButton {
      @extend .buttonPrimary;
    }
  }
}